.filter__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 30px;
}
.filter__buttons--container {
    display: flex;
    gap: 16px;
}
.filter__button {
    height: 32px;
    padding: 0px 14px;
    color: var(--color-grey-2);
    font-size: var(--font-size-3);
    font-weight: var(--font-weight-1);
    border-radius: var(--radius-1);
    background-color: var(--color-mode);
    border: 1.5px solid var(--color-grey-5);
}
.filter__button:hover,
.filter__button:focus {
    background-color: var(--color-brand-3);
    border: 1.5px solid var(--color-brand-1);
}